<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet_edad</servlet-name>
        <servlet-class>com.emergentes.servlet_edad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_operadores</servlet-name>
        <servlet-class>com.emergentes.servlet_operadores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_cambio</servlet-name>
        <servlet-class>com.emergentes.servlet_cambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_juego</servlet-name>
        <servlet-class>com.emergentes.servlet_juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_matriz</servlet-name>
        <servlet-class>com.emergentes.servlet_matriz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_edad</servlet-name>
        <url-pattern>/servlet_edad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_operadores</servlet-name>
        <url-pattern>/servlet_operadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_cambio</servlet-name>
        <url-pattern>/servlet_cambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_juego</servlet-name>
        <url-pattern>/servlet_juego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_matriz</servlet-name>
        <url-pattern>/servlet_matriz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
